__pycache__/
*.pyc
.env
*.pkl
*.wav
*.mp3
.DS_Store
models/embeddings/
models/whisper_finetuned/
data/processed/
data/raw/audio/
data/raw/transcripts/
data/raw/data_broadcastnews_sw.tar.bz2
data/raw/recordings/
data/traces/
venv/
